<% if batch_action_buttons || batch_action_modal_buttons %>
  <section class="pb-3 d-flex flex-row gap-3">
    <% batch_action_buttons.each do |button| %>
      <%= button %>
    <% end %>

    <% batch_action_modal_buttons.each do |button| %>
      <%= button %>
    <% end %>
  </section>
<% end %>

<section>
  <% if @title %>
    <h4 class="title-header"><%= @title %></h4>
  <% end %>

  <table class="table table-striped table-hover table-sm">
    <thead class="table-dark">
      <tr>
        <% if @batch %>
          <th>
            <input type="checkbox" name="toggle" data-admin--batch-actions-target="toggleCheckbox" data-action="change->admin--batch-actions#toggleCheckboxes">
          </th>
        <% end %>

        <% columns.each do |column| %>
          <th><%= column.label %></th>
        <% end %>
      </tr>
    </thead>

    <% @data.each do |data| %>
      <tr>
        <% if @batch %>
          <td>
            <input type="checkbox" name="ids[]" value="<%= data.id %>" data-admin--batch-actions-target="checkbox" data-action="change->admin--batch-actions#checkCheckboxes">
          </td>
        <% end %>

        <% columns.each do |column| %>
          <td>
            <%= capture(data, &column.td_block) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</section>
