<%= simple_form_for([:admin, instance], local: true) do |f| %>
  <div class="row">
    <div class="col-12 col-lg-6">
      <% unless instance.new_record? %>
        <%= f.input :id, readonly: true, wrapper: :floating_label_form %>
      <% end %>
      <%= f.input :notification_topic_id,
          collection: NotificationTopic.options_for_select,
          label: 'Topic',
          prompt: 'Select a topic...',
          wrapper: :floating_label_form %>
      <%= f.input :user_id,
          collection: User.options_for_select,
          label: 'User',
          prompt: 'Select a user...',
          wrapper: :floating_label_form %>
      <%= f.input :distribution_method,
          collection: NotificationSubscription.distribution_methods_for_select,
          label: 'Distribution Method',
          prompt: 'Select a method...',
          wrapper: :floating_label_form %>
      <%= f.input :distribution_frequency,
          collection: NotificationSubscription.distribution_frequencies_for_select,
          label: 'Distribution Frequency',
          prompt: 'Select a frequency...',
          wrapper: :floating_label_form %>
      <%= f.input :summarized_daily_hour,
          collection: (0..23).map { |h| ["#{h}:00", h] },
          label: 'Daily Summary Hour',
          prompt: 'Select hour (for daily summaries)...',
          wrapper: :floating_label_form,
          hint: "Only used when frequency is 'Summarized Daily'" %>
      <%= f.input :active, as: :boolean, wrapper: :floating_label_form %>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= render Admin::ActionButton::Component.new(operation: :cancel_to_show, instance: instance, classes_append: "me-3", public: true) %>
      <%= render Admin::FormButton::Component.new(operation: :submit) %>
    </div>
  </div>
<% end %>
