<%= simple_form_for([:admin, instance], local: true) do |f| %>
  <div class="row">
    <div class="col-12 col-lg-6">
      <% unless instance.new_record? %>
        <%= f.input :id, readonly: true, wrapper: :floating_label_form %>
      <% end %>
      <%= f.input :notification_topic_id,
          as: :tom_select,
          collection: NotificationTopic.options_for_select,
          label: 'Topic',
          prompt: 'Select a topic...',
          autocomplete: 'off',
          wrapper: :tom_select_label_inset %>
      <%= f.input :distribution_method,
          as: :tom_select,
          collection: NotificationTemplate.distribution_methods_for_select,
          label: 'Distribution Method',
          prompt: 'Select a method...',
          autocomplete: 'off',
          wrapper: :tom_select_label_inset %>
      <%= f.input :active, as: :boolean, wrapper: :custom_boolean_switch %>
      <%= f.input :subject_template, wrapper: :floating_label_form, hint: "ERB template for email subject. Example: Hello <code>&lt;%= user.name %&gt;</code>".html_safe %>
      <%= f.input :body_template, as: :text, wrapper: :floating_label_form, input_html: { rows: 10 }, hint: "ERB template for email body. Example: Hello <code>&lt;%= user.name %&gt;</code>".html_safe %>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= render Admin::ActionButton::Component.new(operation: :cancel_to_show, instance: instance, classes_append: "me-3", public: true) %>
      <%= render Admin::FormButton::Component.new(operation: :submit) %>
    </div>
  </div>
<% end %>
