<a class="<%= style[:brand][:base] %>" href="/">
  <span class="<%= style[:brand_name][:base] %>"><%= @brand_name %></span>
  <span class="<%= style[:environment_label][:base] %>"><%= environment_label %></span>
</a>
