<button class="btn btn-primary" type="button" name="<%= @action %>" data-admin--batch-actions-target="actionButton" data-bs-toggle="modal" data-bs-target="#modal_<%= @action.to_s %>">
  <%= @label %>
</button>

<div id="modal_<%= @action.to_s %>" class="modal hide fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary-blue text-white" data-bs-theme="dark">
        <h5 class="modal-title"><%= @label %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= content %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="<%= @action %>" class="btn btn-primary"><%= @label %></button>
      </div>
    </div>
  </div>
</div>
