<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Harvest Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= javascript_include_tag :admin, defer: true %>
    <%= stylesheet_link_tag :admin, "data-turbo-track": "reload" %>
  </head>

  <body class="admin">
    <%= render Admin::NavBar::Component.new(environment: Rails.env) %>
    <%= render Admin::InterfaceNotification::Component.new(flash:) %>
    <%= yield %>
  </body>
</html>
